@charset "utf-8";
@import url(reset.css);

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}


*::selection {
    background-color: #ffe601;
    color: #000;
}

body {
    font-family: 'Pretendard-Regular';
    background-color: #000;
    color: #eee;
}


.mouse {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #aaa;
    position: absolute;
    z-index: 1000;
    transform: translate(-40%, -50%);
    transition: all 0.08s ;
    mix-blend-mode: difference;
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: #fff;
    display: none;
}

h3 {
    font-size: 60px;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    font-weight: normal;
    color: #aaa;
}

.inner {
    max-width: 1440px;
    width: calc(100% - 15px);
    margin: 0 auto;
}

.fp-overflow {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.fp-scroll-mac.fp-viewing-secondPage #section1 .txt h4 {
    transform: translateY(10%);
    opacity: 1;
}

body.fp-scroll-mac.fp-viewing-3rdPage #section2 .swiper {
    transform: translateY(10%);
    opacity: 1;
}

/* body.fp-scroll-mac.fp-viewing-4thPage #section3 .list {
    transform: translateY(10%);
    opacity: 1;
}
 */
/* -------------------------------header start--------------------------- */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

header .inner {
    max-width: 1440px;
    width: calc(100% - 15px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .inner h1 {
    width: 60px;
    height: 60px;
}

header .inner img {
    width: 100%;
    height: 100%;
}

header .inner .menu {
    cursor: pointer;
}

header .inner .menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 50px;
}

header .inner nav {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 9;
    padding-left: 30px;
}

header .inner nav .menu_close {
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
}

header .inner nav .menu_close span:nth-child(1) {
    width: 30px;
    height: 3px;
    display: block;
    background-color: #aaa;
    border-radius: 50px;
    transform: translate(-3px, 4px) rotate(-45deg);
}

header .inner nav .menu_close span:nth-child(2) {
    width: 30px;
    height: 3px;
    display: block;
    background-color: #aaa;
    border-radius: 50px;
    transform: translate(-3px, 1px) rotate(45deg);
}

header .inner nav .gnb .depth01 {
    margin-bottom: 30px;
}

header .inner nav .gnb .depth01>a {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

header .inner nav .gnb .depth01 .depth02 {
    display: none;
}

header .inner nav .gnb .depth01 .depth02 li {
    margin-bottom: 10px;
    margin-left: 5px;
}

header .inner nav .gnb .depth01 .depth02 li:hover {
    color: #ffe601;
}

/* -------------------------------#section0 start--------------------------- */

#section0 {
    width: 100%;
    height: 100vh;
}

#section0 .main_visual {
    position: relative;
}

#section0 .main_visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

#section0 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section0 .inner figure {
    width: 46.38%;
    height: 706px;
    margin-top: 256px;
}

#section0 .inner figure img {
    width: 100%;
    height: 100%;
    display: block;
}

#section0 .txt {
    margin-right: 98px;
}

#section0 .txt h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #aaa;
    margin-bottom: 10px;
}

#section0 .txt h1 span {
    color: #fff;
}

/* -------------------------------#section1 start--------------------------- */

#section1 .cont01 {
    width: 100%;
    height: 100vh;
    background: url(../img/cont01.jpg) center center / cover no-repeat;
}

#section1 .txt {
    padding-top: 150px;
    text-align: center;
}

#section1 .txt h3 {
    margin-bottom: 50px;
}

#section1 .txt h4 {
    line-height: 1.3;
    transform: translateY(50%);
    opacity: 0;
    transition: 1s 0.8s;

}

/* -------------------------------#section2 start--------------------------- */

#section2 .title {
    text-align: center;

}

#section2 h3 {
    margin-bottom: 50px;
}

#section2 .swiper {
    transform: translateY(30%);
    transition: 1s 0.5s;
    opacity: 0;
}


#section2 .swiper .swiper-wrapper .swiper-slide {
    width: 35.83%;
    height: 340px;
    margin: 100px 0;
    position: relative;
}

#section2 .swiper .swiper-wrapper .swiper-slide p {
    color: #aaa;
    font-size: 20px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#section2 .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section2 .swiper .swiper-slide.swiper-slide-next {
    position: relative;
    z-index: 999999;
}

#section2 .swiper .swiper-slide.swiper-slide-next img {
    transform: scale(1.2);
}


/* -------------------------------#section3 start--------------------------- */

#section3 .inner .title {
    text-align: center;
}

#section3 .inner .title h3 {
    margin-bottom: 50px;
}

#section3 .inner .new {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#section3 .inner .new .tab {
    width: 244px;
    font-size: 20px;
}

#section3 .inner .new .tab ul {
    display: inline;
}

#section3 .inner .new .tab ul li {
    margin-bottom: 10px;
    color: #aaa;
    position: relative;
}

#section3 .inner .new .tab ul li.on {
    color: #fff;
}

#section3 .inner .new .tab ul li.on::before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #ffe601;
    display: block;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

#section3 .inner .new .list.on {
    display: flex;
}

#section3 .inner .new .list {
    display: flex;
    justify-content: space-between;
    /* width: calc(100% - 244px); */
    align-items: center;
    display: none;
    transform: translateY(30%);
    transition: 1s 0.5s;
    /* opacity: 0; */
}

#section3 .inner .new .list .item {
    width: 587px;
    height: 440px;
    position: relative;
}

#section3 .inner .new .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#section3 .inner .new .list .item:hover>img {
    opacity: 0;
}

#section3 .inner .new .list .item:hover figure {
    opacity: 1;
}

#section3 .inner .new .list .item figure {
    width: 587px;
    height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

#section3 .inner .new .list .item span {
    font-size: 14px;
    color: #ffe601;
    display: block;
    width: 50px;
    height: 25px;
    border: 1px solid #ffe601;
    border-radius: 30px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#section3 .inner .new .list .txt h5 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

#section3 .inner .new .list .txt h5 span {
    font-size: 20px;
    font-weight: normal;
    color: #aaa;
}

#section3 .inner .new .list .txt ul li {
    margin-bottom: 10px;
    letter-spacing: 0.01rem;
}

#section3 .inner .new .list .txt ul li strong {
    color: #ffe601;
}

#section3 .inner .hover p {
    font-size: 14px;
    color: #aaaaaa93;
    position: relative;
    top: 40px;
    left: 20%;
}

/* -------------------------------#section4 start--------------------------- */

#section4 {
    width: 100%;
    height: 100vh;
    background: url(../img/time\ sale.jpg) center center / cover no-repeat;
    text-align: center;
}

#section4 .inner .title h3 {
    margin-bottom: 250px;
}

#section4 .inner .day p {
    font-size: 20px;
    margin-bottom: 70px;
    color: #aaa;
}

#section4 .inner .day .time {
    font-size: 60px;
    color: #aaa;
    /* font-weight: bold; */
}

#section4 .inner .day .time span {
    font-size: 120px;
    font-weight: bold;
    color: #ffe601;
}

#section4 .inner .txt {
    color: #aaa;
    margin-top: 200px;
}


/* -------------------------------footer start--------------------------- */

#footer {
    height: 200px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa7c;
}

footer ul:first-child {
    margin-top: 10px;
}

footer ul li {
    margin-bottom: 10px;
}


/* -------------------------------@media screen start--------------------------- */


@media screen and (max-width:1280px) {

    #section3 .inner .new .tab {
        width: 100%;
        margin: 0 auto;
    }

    #section3 .inner .new .tab ul {
        display: flex;
        justify-content: center;
    }

    #section3 .inner .new .tab ul li {
        margin-right: 40px;
    }



}

@media screen and (max-width:1220px) {

    h4 {
        font-size: 22px;
    }

    header .inner nav .gnb .depth01>a {
        font-size: 30px;
    }

    #section0 .txt {
        margin-right: 25px;
    }

    #section0 .txt h1 {
        font-size: 70px;
    }

    #section0 .inner figure {
        height: 630px;
    }

    #section3 .inner .new .tab {
        width: 100%;
        margin: 0 auto;
    }

    #section3 .inner .new .tab ul {
        display: flex;
        justify-content: center;
    }

    #section3 .inner .new .tab ul li {
        margin-right: 40px;
    }



}


@media screen and (max-width:960px) {

    h4 {
        font-size: 20px;
    }

    header .inner nav {
        width: 18%;
    }

    header .inner nav .gnb .depth01>a {
        font-size: 30px;
    }

    #section0 .txt {
        margin-right: 30px;
    }

    #section0 .txt h1 {
        font-size: 60px;
    }

    #section0 .inner figure {
        height: 500px;
    }

    #section2 .swiper .swiper-slide.swiper-slide-next img {
        transform: none;
    }

    #section3 .inner .new .tab {
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
    }

    #section3 .inner .new .tab ul {
        display: flex;
        justify-content: center;
    }

    #section3 .inner .new .tab ul li {
        margin-right: 50px;
    }

    #section3 .inner .new .list .item {
        width: 500px;
        height: 400px;
    }

    #section3 .inner .new .list .item figure {
        width: 500px;
        height: 400px;
    }

    #section3 .inner .new .list .item img {
        width: 100%;
        height: 100%;
    }

    #section3 .inner .new .list .txt h5 {
        font-size: 30px;
    }

    #section3 .inner .new .list .txt h5 span {
        font-size: 18px;
    }

    #section4 .inner .day .time {
        font-size: 50px;
    }

    #section4 .inner .day .time span {
        font-size: 100px;
    }

    #section4 .inner .txt {
        font-size: 14px;
    }

    footer ul {
        font-size: 14px;
    }


}


@media screen and (max-width:825px) {
    #section0 .txt h1 {
        font-size: 55px;
        margin-right: 0;
    }

    #section1 .txt h4 {
        font-size: 18px;
    }

    #section3 .inner .new .list .item {
        width: 400px;
        height: 300px;
    }

    #section3 .inner .new .list .item figure {
        width: 400px;
        height: 300px;
    }

    #section3 .inner .new .list .item img {
        width: 100%;
        height: 100%;
    }

    #section4 .inner .day .time {
        font-size: 40px;
    }

    #section4 .inner .day .time span {
        font-size: 90px;
    }

}

@media screen and (max-width:760px) {

    header .inner nav {
        width: 30%;
    }

    #section0 .inner {
        display: block;
    }

    #section0 .inner figure {
        width: 450px;
        height: 400px;
        margin: 0 auto;
    }

    #section0 .txt {
        width: 100%;
        margin-top: 70px;
    }

    #section0 .txt h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }

    #section1 .txt h4 {
        font-size: 16px;
    }

    #section4 .inner .day .time {
        font-size: 35px;
    }

    #section4 .inner .day .time span {
        font-size: 70px;
    }

    #footer ul {
        font-size: 11px;
    }

    #footer ul:nth-child(2),
    #footer ul:nth-child(3),
    #footer ul:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width:580px) {

#section3 .inner .new .tab {
    margin: 0 auto;
}
#section3 .inner .new .tab ul li:last-child {
    margin-right: 0;
}


    #section3 .inner .new .list.on {
        display: block;
        margin: 0 auto;
    }

    #section3 .inner .new .list .item,
    #section3 .inner .new .list .item figure {
        width: 450px;
        height: 350px;
    }

    #section3 .inner .new .list .item img {
        width: 100%;
        height: 100%;
    }

    #section3 .inner .new .list .txt {
        text-align: center;
    }

    #section3 .inner .new .list .txt ul {
        font-size: 16px;
    }

    #section3 .inner .hover p {
        display: none;
    }

    #section4 .inner .day .time {
        font-size: 20px;
    }
    #section4 .inner .day .time span {
        font-size: 60px;
    }
}

@media screen and (max-width:414px) {

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 15px;
    }

    header .inner nav {
        width: 50%;
    }

    #section0 .inner {
        display: block;
    }

    #section0 .inner figure {
        width: 328px;
        height: 346px;
        margin: 0 auto;
    }

    #section0 .txt {
        width: 100%;
        margin-top: 50px;
    }

    #section0 .txt h1 {
        font-size: 57px;
        margin-bottom: 20px;
    }

    #section2 .swiper .swiper-wrapper .swiper-slide {
        margin: 50px 0;
    }

    #section2 .swiper .swiper-slide.swiper-slide-next img {
        transform: none;
    }

    #section3 .inner .new {
        margin-top: 50px;
    }

    #section3 .inner .new .tab ul li {
        margin-right: 40px;
    }

    #section3 .inner .new .tab ul li:last-child {
        margin-right: 0;
    }

    #section3 .inner .new .list.on {
        display: block;
    }

    #section3 .inner .new .list .item {
        width: 388px;
        height: 288px;
    }

    #section3 .inner .new .list .item img {
        width: 100%;
        height: 100%;
    }

    #section3 .inner .new .list .item figure {
        width: 388px;
        height: 288px;
    }

    #section3 .inner .new .list .txt {
        text-align: center;
    }

    #section3 .inner .new .list .txt ul {
        font-size: 13px;
    }

    #section3 .inner .hover p {
        display: none;
    }

    #section4 .inner .title h3 {
        margin-bottom: 170px;
    }

    #section4 .inner .day .time {
        font-size: 20px;
    }

    #section4 .inner .day p {
        margin-bottom: 50px;
    }

    #section4 .inner .day .time span {
        font-size: 35px;
    }

    #section4 .inner .txt {
        margin-top: 150px;
        font-size: 12px;
    }


    #footer ul {
        font-size: 11px;
    }

    #footer ul:nth-child(2),
    #footer ul:nth-child(3),
    #footer ul:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width:320px) {


    #section0 .inner figure {
        width: 290px;
        height: 310px;
    }

    #section0 .inner figure img {
        width: 100%;
        height: 100%;
    }

    #section0 .txt h1 {
        font-size: 40px;
        margin-right: 0;
    }

    #section1 .txt h4 {
        font-size: 13px;
    }
    #section3 .inner .new .tab ul li {
        margin-right: 40px;
        font-size: 16px;
    }

    #section3 .inner .new .tab ul li:last-child {
        margin-right: 0;
    }

    #section3 .inner .new .list.on {
        display: block;
    }

    #section3 .inner .new .list .item,
    #section3 .inner .new .list .item figure {
        width: 300px;
        height: 200px;
    }

    #section3 .inner .new .list .item img {
        width: 100%;
        height: 100%;
    }

    #section3 .inner .new .list .txt {
        text-align: center;
    }

    #section3 .inner .new .list .txt h5 {
        font-size: 25px;
    }

    #section3 .inner .new .list .txt h5 span {
        font-size: 16px;
    }
    #section3 .inner .new .list .txt ul {
        font-size: 13px;
    }

    #section3 .inner .hover p {
        display: none;
    }
    
}